# SQLite is the default db, you can use default / sqlite and both will resort to using sqlite db 
DATABASE_ENGINE=default

#For postgresql, uncomment and update the below values
# DATABASE_ENGINE=postgresql
# DATABASE_USER=opentz
# DATABASE_PASSWORD=welcome2opentz
# DATABASE_HOST=localhost
# DATABASE_PORT=5432
# DATABASE_NAME=opentzdb